.container {
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;

  position: absolute;
  transition: top, left 0.5s; /* Animation */

  &[data-color="red"] {
    background: red;
    border-color: #333;
  }
  &[data-color="green"] {
    background: green;
    border-color: #333;
  }
  &[data-color="blue"] {
    background: blue;
    border-color: #333;
  }
  &[data-color="yellow"] {
    background: yellow;
    border-color: #333;
  }
  &[data-color="black"] {
    background: black;
    border-color: #333;
  }

  &[data-selected="true"] {
    // cursor: pointer;
    transition: transform 0.2s; /* Animation */
    transform: scale(1.1);
    // border-color: #ffa;
  }

  &[data-selectable="true"] {
    cursor: pointer;
    transition: transform 0.2s; /* Animation */

    &:hover {
      transform: scale(1.1);
    }
  }
}
