.container {
  padding: 20px;
  border-radius: 100%;
  width: min-content;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 5px;

  background-image: url("./../../../assets/factory.jpg");
  background-position: center center;
  background-size: cover;

  background-size: 113%;
  background-position: -9px -10px;
}

[data-theme="dark-neon"] {
  .container {
    background: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
  }
}
