.container {
  margin: auto;
  // padding: 20px;
  padding: 3px;
  border-radius: 100%;
  width: min-content;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 5px;

  border: 1px solid transparent;
}

[data-theme-factory="transparent"] {
  .container {
    //background: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);

    border: 1px solid rgba(209, 213, 219, 0.3);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 0 900px rgba(255, 255, 255, 0.2);
  }
}

[data-theme-factory="original"] {
  .container {
    background-image: url("./../../../assets/factory.jpg");
    background-size: 115%;
    background-position: -10px -11px;
  }
}