.container {
  padding: 20px;
  border-radius: 100%;
  width: min-content;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 5px;

  background-image: url("./../../../assets/factory.jpg");
  background-position: center center;
  background-size: cover;

  background-size: 113%;
  background-position: -9px -10px;
}
