.container {
  position: sticky;
  width: 280px;
  padding: 10px;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 0 900px rgba(255, 255, 255, 0.2);
  user-select: none;

  >h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: #000 0px 0px 5px;
    text-align: center;
  }

  >button {
    width: 45%;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: auto 150px;
    gap: 2px;
    margin: 10px 0;
    text-align: left;
    align-items: center;

    >div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  select {
    height: 40px;
    align-items: center;
  }

  .seed {
    height: 40px;
    font-family: monospace;
    font-size: 1.5em;
    text-align: center;

    &::placeholder {
      color: #555;
    }
  }

  button.random {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: right;
  }
}