.container {
  // position: sticky;
  width: 280px;
  padding: 10px;
  // margin: auto;
  // transform: translateY(-50%);
  // top: 50%;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 0 900px rgba(255, 255, 255, 0.2);
  user-select: none;

  >h2 {
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: #000 0px 0px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  >.empty {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0 0 0;
  }

  >.list {
    // list-style: none;
    // padding: 0;
    // margin: 10px 0 0 0;

    >.item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // padding: 6px 8px;
      margin-top: 4px;
      // background: rgba(255, 255, 255, 0.1);
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 6px;

      >.info {
        display: grid;
        align-items: center;
        width: -webkit-fill-available;
        grid-template-columns: 50px 1fr 1fr;

        >.win {
          color: #2a9d8f;
          font-size: 1.2em;
        }

        >.lose {
          color: #e76f51;
          font-size: 1.2em;
        }

        >.points {
          font-weight: bold;
          font-size: 0.9em;
        }

        >.seed {
          font-size: 0.8em;
        }
      }

      >.replayButton {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0.6);
        padding: 4px 8px;
        border-radius: 100%;
        // border-radius: 4px;
        transition: all 0.2s;


        &:hover {
          background: rgba(255, 255, 255, 0.1);
          color: white;
          box-shadow: none;
          // box-shadow: rgba(255, 255, 255, 0.8) 0 0 9px inset;
        }
      }
    }
  }
}