.container {
  position: sticky;
  width: 280px;
  padding: 10px;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 0 900px rgba(255, 255, 255, 0.2);
  user-select: none;

  >h2 {
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: #000 0px 0px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  >.empty {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0 0 0;
  }
}