.container {
  text-align: center;

  >span {
    font-size: 5em;
    font-weight: bold;
    background-clip: text !important;
    color: transparent;
    line-height: 1em;

    &.letterA {
      background: url("./../../assets/tile-green.svg");
    }

    &.letterZ {
      background: url("./../../assets/tile-yellow.svg");
    }

    &.letterU {
      background: url("./../../assets/tile-blue.svg");
    }

    &.letterL {
      background: url("./../../assets/tile-pink.svg");
    }
  }
}