.container {
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.3);
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  color: #333;

  &[data-color="red"] {
    background: rgba(92, 0, 0, 0.8);
  }
  &[data-color="green"] {
    background: rgba(6, 86, 6, 0.8);
  }
  &[data-color="blue"] {
    background: rgba(0, 37, 92, 0.8);
  }
  &[data-color="yellow"] {
    background: rgba(90, 90, 0, 0.8);
  }
  &[data-color="black"] {
    background: rgba(4, 4, 4, 0.8);
  }
  &[data-color="none"] {
    // background: transparent;
    background: rgba(255, 255, 255, 0.2);
  }

  &[data-board-type="Factory"] {
    visibility: hidden;
  }
}

[data-theme="dark-neon"] {
  .container {
    &[data-color="black"] {
      background: rgba(50, 0, 83, 0.8);
    }
  }
}
