.container {
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.3);
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  color: #333;

  &[data-color="red"] {
    background: rgba(241, 161, 161, 0.8);
  }
  &[data-color="green"] {
    background: rgba(162, 247, 162, 0.8);
  }
  &[data-color="blue"] {
    background: rgba(193, 226, 236, 0.8);
  }
  &[data-color="yellow"] {
    background: rgba(252, 252, 170, 0.8);
  }
  &[data-color="black"] {
    background: rgba(150, 150, 150, 0.8);
  }
  &[data-color="none"] {
    // background: transparent;
    background: rgba(255, 255, 255, 0.2);
  }

  &[data-board-type="Factory"] {
    visibility: hidden;
  }
}
