.container {
  text-shadow: #000 0px 0px 5px;

  >h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  >h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  >div {
    display: grid;
    grid-template-columns: auto min-content;
  }
}

.playerName {
  margin-right: 10px;

  &[data-active="true"] {
    // font-weight: bold;
    text-shadow: rgb(233, 190, 74) 0px 0px 5px;

    &::after {
      content: " <<";
    }
  }

  &[data-current="true"] {
    text-decoration: underline;
  }

  &:not([data-connected="true"]) {
    &::after {
      content: " ...";
    }
  }

  &::before {
    content: " ";
    background: var(--color);
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 10px;
  }
}