.container {
  display: inline-block;
}
.top {
  clear: both;
  margin: 10px;
}
.left {
  float: left;
  margin: 10px;
}
.right {
  float: right;
  margin: 10px;
}
.bottom {
  clear: both;
  margin: 10px;
}
