.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.left {}

.right {
  padding-left: 10px;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.bottom {
  display: flex;
  padding-top: 5px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  grid-column: 1 / 3;
  color: #fff;
  text-shadow: #000 0px 0px 5px;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.caption {
  position: absolute;
  color: #fff;
  text-shadow: #000 0px 0px 5px;
  margin: 5px;
}

[data-theme-board="original"] {
  .caption {
    color: #222;
    margin-top: 100px;
    text-shadow: #999 0px 0px 2px;
  }

  .bottom {
    margin-top: 20px;
  }
}