.gameover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;

  &>section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    margin: auto;
    box-shadow: inset 0 0 0 900px rgba(0, 0, 0, 0.2);
    border-color: rgba(51, 51, 51, 0.6);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    // min-width: 300px;
  }

  button {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 200px;

    >svg {
      float: inline-start;
    }
  }
}