.container {
  // position: sticky;
  // top: 0;
  width: 100%;
  // margin: auto;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 0 900px rgba(255, 255, 255, 0.2);
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.themeIcon {
  position: absolute;
  margin-right: auto;
  display: inline-block;
  left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.githubIcon {
  position: absolute;
  margin-right: auto;
  display: inline-block;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}