@media screen and (max-width: 997px) {
  .container {
    width: min-content;

    .tileStorage {
      grid-row: 1;
    }

    .scoreBoard {
      grid-row: 1;
    }

    .factories {
      grid-row: 2;
      grid-column: 1 / 3;
    }

    .centerOfTable {
      grid-row: 3;
      grid-column: 1 / 3;
    }
  }
}

.container {
  margin: auto;
  display: grid;
  gap: 10px;
  user-select: none;

  section {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 0 900px rgba(255, 255, 255, 0.2);
  }

  header {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 10px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

.factories {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

[data-theme-board="transparent"] {
  // nothing here
}

[data-theme-board="original"] {
  .playerBoard {
    background-image: url("./../../../assets/player board.jpg");
    background-size: 107%;
    background-position: -16px -176px;
  }
}

[data-theme-board="marble"] {

  // .factories,
  // .centerOfTable,
  .playerBoard {
    background-image: url("./../../../assets/andy-art-ASbxmrhbTKM-unsplash.jpg");
    background-size: cover;
  }
}

.centerOfTable {
  // nothing here
}

.playerBoard {
  position: relative;
  display: inline-block;

  &[data-active="true"]::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 12px;
    box-shadow: 0 0 5px 3px gold;
    pointer-events: none;
  }
}

.scoreBoard {}

.gameover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;

  &>section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    margin: auto;
    box-shadow: inset 0 0 0 900px rgba(0, 0, 0, 0.2);
    border-color: rgba(51, 51, 51, 0.6);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 300px;
  }

  button {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 50px;
    width: 100%;
  }
}