.container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
  pointer-events: none;
}

.panel {
  display: flex;
  flex-direction: column;

  pointer-events: all;

  margin: 10px 10px 10px 0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(-100%));

  label {
    text-shadow: #000 0px 0px 5px;
    user-select: none;
    cursor: pointer;
  }

  select {
    width: 150px;
  }

  &>label {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);

    border-bottom-right-radius: 6px;

    background: rgb(58, 15, 101);

    &:hover {
      background: rgb(123, 32, 214);
      box-shadow: rgba(123, 32, 214, 0.7) 0 0 4px 1px;
    }
  }

  &>section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    background: rgb(112, 30, 194);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-left: none;
    border-top-right-radius: 6px;

    border-bottom: none;

    &>div {
      display: grid;

      &>label {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

.theme-selection-shower {
  display: none;

  &:checked {
    &~.panel {
      transform: translateX(0);
    }
  }
}