// @media screen and (max-width: 1920px) {
//   .container {
//     background-size: auto !important;
//   }
// }

.container {
  min-width: 100%;
  width: fit-content;
  min-height: 100vh;
  padding: 10px;

  &[data-theme="dark-wood"] {
    background-image: url("./assets/dark-wood-background.jpg");
  }
  &[data-theme="light-wood"] {
    background-image: url("./assets/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
    background-position: top right;
  }
  &[data-theme="dark-neon"] {
    background-image: url("./assets/jr-korpa-9XngoIpxcEo-unsplash.jpg");
  }

  background-size: cover;

  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  input,
  select {
    border: 1px solid #333;
    border-radius: 4px;
    background: #fff;
    color: black;
    padding: 3px;
    min-width: 100px;
    appearance: auto;
  }

  input,
  select,
  button {
    height: 30px;
  }

  input[type="button"],
  input[type="submit"],
  button {
    cursor: pointer;
    margin: 5px;
  }

  button,
  input[type="button"] {
    border: 1px solid #333;
    border-radius: 4px;
    background: #008ccc;
    padding: 0 10px;
    text-align: center;

    &:hover {
      background: #0d94d3;
      box-shadow: rgba(13, 148, 211, 0.8) 0 0 9px;
    }
  }

  hr {
    border: 1px solid black;
  }
}

.themeSelection {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.githubIcon {
  background: #fff;
  border-radius: 50%;
  // border: solid 1px #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  width: 40px;
}

:global {
  .hidden {
    display: none;
  }

  .buttons {
    margin-top: 5px;
  }

  #lobby-view {
    padding: 0 !important;
    margin: auto;
    width: fit-content;
    min-width: 600px;

    .phase:nth-child(2) {
      padding: 10px;
      border-radius: 12px;
      border: 1px solid rgba(209, 213, 219, 0.3);
      backdrop-filter: blur(2px);
      box-shadow: inset 0 0 0 900px rgba(255, 255, 255, 0.2);
    }
    .phase-title {
      margin-top: 15px;
    }
  }

  #instances table {
    width: 100%;
  }
}
