[data-theme-background="dark-wood"] .container {
  background-image: url("./assets/dark-wood-background.jpg");
}

[data-theme-background="light-wood"] .container {
  background-image: url("./assets/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
  background-position: top right;
}

[data-theme-background="dark-neon"] .container {
  background-image: url("./assets/jr-korpa-9XngoIpxcEo-unsplash.jpg");
}

.container {
  min-width: 100%;
  width: fit-content;
  min-height: 100vh;
  padding: 8px;
  background-size: cover;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  input,
  select {
    border: 1px solid #333;
    border-radius: 4px;
    background: #fff;
    color: black;
    padding: 3px;
    min-width: 100px;
    appearance: auto;
  }

  input,
  select,
  button {
    height: 30px;
  }

  input[type="button"],
  input[type="submit"],
  button {
    cursor: pointer;
    margin: 5px;
  }

  button,
  input[type="button"] {
    border: 1px solid #333;
    border-radius: 4px;
    background: #008ccc;
    padding: 0 10px;
    text-align: center;

    &:hover {
      background: #0d94d3;
      box-shadow: rgba(13, 148, 211, 0.8) 0 0 9px;
    }
  }

  hr {
    border: 1px solid black;
  }
}

.themeSelection {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.githubIcon {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  display: flex;
  width: 60px;
}

:global {
  body {
    overscroll-behavior-y: none;
  }

  .hidden {
    display: none;
  }

  .buttons {
    margin-top: 5px;
  }

  #lobby-view {
    padding: 0 !important;
    margin: auto;
    width: fit-content;

    .phase:nth-child(2) {
      padding: 10px;
      border-radius: 12px;
      border: 1px solid rgba(209, 213, 219, 0.3);
      backdrop-filter: blur(2px);
      box-shadow: inset 0 0 0 900px rgba(255, 255, 255, 0.2);
    }

    .phase-title {
      margin-top: 15px;
    }
  }

  #instances table {
    width: 100%;

    td:last-of-type {
      text-align: right;
    }

    td:first-of-type {
      display: none;
    }
  }
}